.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em;
}

.home p {
  font-size: large;
  font-weight: 400;
  max-width: 540px;
  margin: 0;
}

.home span {
  font-size: larger;
  color: rgb(5 122 240);
}

.projects {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1rem;
}

@media (max-width: 900px) {
  .projects {
    padding-left: unset;
    padding-right: unset;
  }

  .content {
    padding: unset;
  }
}