.bar {
  margin: 1rem;
  padding: 1rem;
  background-color: #44403c;
  text-align: center;
}

.bar h2 {
  font-size: 2rem;
}

.bar h3 {
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 900px) {
  .bar {
    margin: .5rem;
    padding: .5rem;
  }

  .bar h2 {
    font-size: 16px;
  }
}