.bar {
  padding: 1rem;
  background-color: rgb(34 35 36);
  text-align: center;
}

.bar h2 {
  font-size: 2rem;
}

.bar h3 {
  margin: 0;
  font-size: 1rem;
}

.bar a {
  color: rgb(5 122 240);
}

@media (max-width: 900px) {
  .bar {
    margin: .5rem;
    padding: .5rem;
  }

  .bar h2 {
    font-size: 16px;
  }
}