.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 900px auto;
}

.loading {
  text-align: center;
  font-size: 40px
}

.zilch {
  text-align: center;
  background-color: #292524;
  padding: 1em;
  margin: 0 auto auto auto;
  font-size: 2em;
  font-weight: bold;
}

.title {
  text-align: center;
  font-size: 40px
}

@media (max-width: 900px) {
  .title {
    text-align: center;
    margin: 0;
    font-size: 2em;
  }

  .container {
    display: block;
  }
}