.bar-list {
  /* background-color: #292524; */
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.zilch {
  text-align: center;
  margin: 0 auto auto auto;
  font-size: 2em;
  font-weight: bold;
}