.bar-list {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}

.zilch {
  text-align: center;
  margin: 0 auto auto auto;
  font-size: 2em;
  font-weight: bold;
}

@media (min-width: 900px) {
  .bar-list {
    gap: 1rem;
  }
}