.user-input {
  justify-self: flex-end;
}

.user-input form {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: rgb(27 28 29);
  padding: 1rem;
}

.user-input div {
  text-align: center;
  background-color: rgb(34 35 36);
  font-weight: bolder;
}

.user-input input:disabled {
  cursor: not-allowed;
}

@media (min-width: 900px) {
  .user-input {
    margin-right: 1em;
  }

  .user-input form {
    gap: 1rem;
    padding: 2rem;
  }

  .user-input div {
    padding: .5em;
  }
}