:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #fafaf9;
  background-color: #121314;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.title {
  text-align: center;
}

.product-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-content h3 {
  font-size: 1.05em;
  margin: 0;
}

.product {
  max-width: 330px;
}

.product img {
  width: 330px
}

.product-price {
  height: 1.25em;
  line-height: normal;
  box-sizing: border-box;
}

.product-dollars {
  font-weight: 700;
  font-size: 1.25em;
}

.product-cents,
.product-symbol {
  font-weight: 500;
  font-size: 0.7em;
  top: -.5em;
  position: relative;
}

.product-actions {
  height: 2em;
  display: flex;
  justify-content: center;
  background-color: #FFD814;
  border-color: #FCD200;
  border-radius: 100px;
  width: 32.5%;
}

.product-actions:hover {
  background-color: #ddb503;
  border-color: #c59e01;
}

.product-actions button {
  font-weight: 600;
  background-color: transparent;
  border: 0;
}

.products {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.shop {
  width: 70%;
  margin: 2rem auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header div span {
  cursor: pointer;
  font-weight: 600;
  width: 107px;
  display: flex;
  justify-content: center;
}

.header div .selected {
  background-color: #FFD814;
  border-color: #FCD200;
  border-radius: 100px;
  color: #121314;
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}